<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Van Minh</h1>
    <br>
    <a href="/album">Go to album bs5</a>
    <br>
    <a href="/table">Go to table bs5</a>
</body>
</html>